

*:focus {
	outline: none;/*elimina los bordes que vienen por defecto en html5 focus*/
}
.formulario {
	display:inline-block;
	margin-left:100px;
	padding:25px;
	border: 2px solid red;
	width:auto;
	background: #000;
}
form {
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:15px;
	width:auto;
	padding:25px;
	border:1px solid white;
	box-shadow:0px 0px 25px white;
	opacity:1.0;
	color: #fff;
}
/*input, textarea*/
 .texto{
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 300px;
	min-height: 30px;
	display: block;
	margin-bottom: 16px;
	margin-top: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #fff;
}
.texto1 {
	min-height: 200px;
	resize:none;
}
input:focus, textarea:focus {
	-webkit-box-shadow: 0 0 25px #ccc;
	-moz-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #ccc;
}
/* The interesting bit */
input:not(:focus), textarea:not(:focus) {
	opacity: 0.5;
}
input:required, textarea:required {
 background: url("../Content/images/asterisk_orange.png") no-repeat 280px 7px;
}
input:valid, textarea:valid {
 background: url("../Content/images/tick.png") no-repeat 280px 5px;
}
input:focus:invalid, textarea:focus:invalid {
 background: url("../Content/images/cancel.png") no-repeat 280px 7px;
}
input[type=submit] {
	font-size: 20px;
	padding: 10px;
	background: none;
	opacity: 1.0;
}
