.links
{
	padding:10px;
	border-top-left-radius: 30px;
	border-top-rigth-radius: 30px;
	-moz-border-top-left-radius: 30px;
	-moz-border-top-rigth-radius: 30px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-rigth-radius: 30px;
	text-decoration:none;
	background: -moz-linear-gradient(top, blue, white);
}

/*.links:hover
{
	padding:10px;
	background-color:#180000;
	text-decoration:none;
	
}*/
#title img
{
	text-align:left;
	position:relative;
	width: 800px;
	height: 125px;
	/*border:1px solid #000000;	*/
}
#title img bljaIMGtex
{
		
		width:20px;
		position:absolute;
		top:10px;
		left:14px;
}
.title 
{
	/*border:1px solid #000000;	*/
	
}
.reg
{
	color:white;
	-moz-box-shadow:10px 10px 10px red;	
}/*
.texto
{
	margin-top:0;
	text-align:left;
	position:relative;
	-moz-text-shadow: 0 1px 0 #707070, 
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	/*color:#F0f0f0;*/
	font-family:Old English Text MT;
}*/
.page
{
	border:1px solid #000000;	
	background-color:#0066FF;
	background-position: center center;
    background: radial-gradient(circle, #white, #blue);
    background: -moz-radial-gradient(circle, #white, #blue);
}
. AdminRichText 
{ 
	width: 450px; 
}/*
=======================================================================
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/

.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: #505050;
	background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #505050),
		color-stop(1, #707070)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	-moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
}
.uploadify:hover .uploadify-button {
	background-color: #606060;
	background-image: linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #606060),
		color-stop(1, #808080)
	);
	background-position: center bottom;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
/*============================================================================*/
p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}

html { font-size: 100%; height: 100%; /* IE hack */ }
body { font-size: 0.75em; } /* Base font 12px */
table { font-size: 100%; /* IE hack */ }

input, select, textarea, th, td { font-size:1em; }

/* CSS Accordion styles */
dl
{
	padding: 10px;
	min-width: 960px;
}
	dl dt
	{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #cccccc;
		margin: 0;
	}
		dl dt a
		{
			color: #ffffff;
			font-weight: bold;
			text-decoration: none;
			padding: 10px;
			display: block;
		}
	dl dd
	{
		color: #cccccc;
		margin: 0;
		overflow: hidden;
		-webkit-transition: height 1s ease;
		-moz-transition: height 1s ease;
		-o-transition: height 1s ease;
	}
		dl dd p
		{
			padding: 10px;
			margin: 0;
		}
	dl dd:not(:target) { height: 0; }
	dl dd:target { height: 6.667em; }
	dl a.ie:hover dd,
	dl a.ie:focus dd
	{
		height: auto;
		color: #cccccc !important;
	}
	#titulo
	{
		color:white;	
		margin-left:100px;
		font-size:30px;
	}
	.tit
	{
		font-family:miFont;
		font-size:25px;
		-moz-box-shadow:10px 10px 10px white;
		-text-box-shadow:10px 10px 5px white;
		text-align:center;
		color:#00FF00;	
	}
	.table
	{
		margin:20px;
		margin-left:30px;
		border:1px solid White;
		background: -moz-repeating-radial-gradient(left bottom, ellipse farthest-side, #707070 0%, #888888 5%, #E8E8E8 5%);
		-moz-border-radius:10px;
		border-radius:10px;
		-moz-box-shadow:10px 10px 10px white;
		overflow:hidden;
		width:700px;
	}
	.tablex
	{
		margin:20px;
		margin-left:40px;
		border:1px solid White;
		background: -moz-repeating-radial-gradient(left bottom, ellipse farthest-side, #707070 0%, #888888 5%, #E8E8E8 5%);
		-moz-border-radius:10px;
		border-radius:10px;
		-moz-box-shadow:10px 10px 10px white;
		overflow:hidden;
		width:750px;
	}
	.cuerpo
	{
		padding:15px;
		padding-left:20px;	
		border:none;
		margin:5px;
		margin-left:15px;
		background-color:Black;
	}
	
	.cuerpo1
	{
		padding:15px;
		padding-left:20px;	
		border:none;
		margin:5px;
		width:100px;
		height:auto;
		float:left;
		overflow:hidden;
		background:url(../Content/images/trnas.png);
	}
	.titulo
	{
		background-position: center center;
		background: -moz-radial-gradient(circle, white, black);
		padding:10px;
		color:#00FF00;
		font-size:20px;
		font-weight:bold;	
		-moz-box-shadow:10px 10px 10px white;
		border-radius:10px;
		margin:5px;
	}
	.usuario
	{
		background-color:Red;
		font-weight:bold;	
		float:left;
		overflow:hidden;
		margin:5px;
	}
	.categoria
	{
		overflow:hidden;
		margin:5px;
	}
	.prin
	{
		overflow:hidden;
	}
	.coment
	{
		border:1px solid red;	
	}
	.usuario1
	{
		background-color:#800000;
		font-weight:bold;	
		float:left;
		overflow:hidden;
		margin:15px;
		margin-top:25px;
		width:auto;
	}
	.usuario1 a
	{
		width:auto;
		color:AntiqueWhite;
		text-decoration:none;	
		padding-left:10px;
	}
	.fech
	{
		color:#99FF00;
		font-size:14px;
		background: -moz-radial-gradient(circle,black,white );
	}
	.con
	{
		margin:20px;	
	}
	.fecha
	{
		margin:10px;
		
	}
	.table1
	{
		margin:20px;
		border:1px solid White;
		background: -moz-repeating-radial-gradient(left bottom, ellipse farthest-side, #000000 0%, #404040 5%, #787878 5%);
		-moz-border-radius:10px;
		-moz-box-shadow:10px 10px 10px white;
		overflow:hidden;
		width:auto;
	}
	.border
	{
		-moz-border-radius:10px;
		-moz-box-shadow:10px 10px 10px white;		
	}
	.colum
	{
		text-align:center;
		margin-left:80px;
		float:left;
		width:150px;
		font-family:milton;
	}
	@font-face
	{
		font-family:milton;
		src:url(../Content/fonts/Lobster_1.1_-webfont.ttf);
	}
	.tipo
	{
		float:left;
		border-top:1px;
		border-bottom:1px;
		margin-left:10px;
		border:2px solid red;
	}
	.tipo1
	{
		border-top:1px solid red;
		border-bottom:1px solid red;	
		margin:1px;
		text-align:center;
		background: linear-gradient(top, black, white);
		background: -moz-linear-gradient(top, purple, white);
	}
	.tipo1 a{padding-top:20px;padding-bottom:20px;font-size:15px;text-decoration:none;color:black;}
	.cat
	{
		background-color:white;
		font-size:20px;
		padding:10px;
		text-align:center;
		margin:7px;color:#707070;
	}
	.boton{background-color:black;width:19%;border-radius:15px;float:left;margin-left:20%;margin-top:10px;}
	.boton a{text-decoration:none;color:White;}
	.alinear{text-align:center;}
	.des1{border-radius:0px;background:url(../Content/Imagenes/texto2.jpg);width:auto;height:auto;border:3px solid white;padding:30px;padding-left:90px;-moz-box-shadow:0px 0px 20px white;} 
	.user{border:2px solid white;-moz-box-shadow:10px 10px 10px white;}
	
	.f{transition-duration:all 3s;margin-top:10px;background-color:#009900;border-radius:10px;box-shadow:0 0 20px white;}
	.ff{width:70%;margin-left:15%;}
	.f:hover{margin-top:10px;background-color:#00CC00;border-radius:10px;box-shadow:0 0 20px white;}
	
	.images
	{
		-webkit-transition: -webkit-transform 5s ease-out;
		-moz-transition: -moz-transform 5s ease-out;
		transition: transform 5s ease-out;
		
	}
	.images
	{
		-webkit-transform: rotateZ(360deg);
		-moz-transform: -moz-rotateZ(360deg);
		transform: rotateZ(360deg);	
	}	
	
	.width100pc {
    border: solid 3px #707070;
    border-collapse: collapse;
    background-color:blue;
    }

table td {
    padding: 5px;
    border: solid 2px #e8eef4;
}

table tr {
    padding: 6px 5px;
    text-align: left;
    /*background-color: #e8eef4;*/
    border: solid 1px #e8eef4;
}
.tr1{color:black;background-color:Silver;}
.bgWidth100px{background-color:#707070;color:white;text-align:center;font-family:venus rising;}
	
	
	