@model biblioteca2.Models.GridDemo

@using Trirand.Web.Mvc
@{
    ViewBag.Title = "Index";
}

<h2 style="color:white;">Solo realice actualizaciones del perfil !</h2>
<div style="margin-left:200px;margin-top:50px;margin-bottom:150px;border:2px solid white;padding-right:0px;width:602px;border-radius:5px;box-shadow:0 0 25px white;">
@Html.Trirand().JQGrid(ViewBag.grid, "griddemo1__ss")</div>