@model biblioteca2.Models.publicmodel
@{
    ViewBag.Title = "publicacion";
}

<h2>publicacion</h2>
  <div class="editor-label">
    @Html.LabelFor(model => model.Content)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Content, new { @class = "texto" })
    @Html.ValidationMessageFor(model => model.Content)
</div>
