@model biblioteca2.Models.articulomodelo

<p>En hora buena el Articulo fue registrado correctamente.</p>
<p><a href="javascript:void(0);" class="close" style="background:#000; color:red;">Aceptar</a></p>
@if(TempData["Message"]!=null){
    <p>@TempData["Message"].ToString()</p>
}