@model biblioteca2.Models.persona

@{
    ViewBag.Title = "perfil";
}

<h2>REGISTRO DE PERFIL DE USUARIO</h2>
@using (Html.BeginForm()) { 
    <p>Nombre: <br>@Html.TextBoxFor(x => x.nombre)</p>
    <p>Apellido:<br>@Html.TextBoxFor(x => x.apellido)</p>
    <p>Avatar:<br></p>
    <p>Ubicacion:<br>@Html.TextBoxFor(x => x.ubicacion)</p>
    <p>Interes:<br>@Html.TextBoxFor(x => x.interes)</p>
    <p>
        <input type ="submit" value="Registrar"/>
    </p>
}